.menu-item{
    text-align:center;
    flex-grow: 1;
    border:1px solid #666;
    margin-right:20px;
    padding :60px 0;
    border-radius:5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:hover{
        cursor:pointer;
    }

    .content{
        width:50%;
        margin:auto;
        background-color: rgba(0,0,0,0.5);
        border:1px solid #666;
        border-radius: 5px;
        padding:10px 0;
        transition:0.3s;

        &:hover{
            background-color:rgb(255, 255, 255 ,0.1);
            border:1px solid #fff;
        }

        h1{
            padding-bottom:5px;
        }

        .subtitle:hover{
            color:#39ff14;
            font-weight: 600;
        }
    }
}

